#main {
  display: flex;
  background: url("../img/outdoor.jpg") top center no-repeat #bababa;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #ffffff
}

#main-nav {
  color: #ffffff;
  background: rgb(8,42,77, 0.8);
  position: fixed;
  width: 100%;
  /* height: 15%; */
  font-size: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-height: 45%;
}

#main-content {
  /* height: 100%; */
  margin-top: 145px;
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%)
}

.header-nav {
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  border: 1px solid rgba(255,255,255,.2);
  border-width: 0 0 1px 0;
  width: 100%;
  margin-bottom: 10px;
}

.main-nav-mobile {
  margin: 0 20px;
  font-size: 2.5em;
  cursor: pointer;
}

.main-nav-mobile-menu {
  color: red;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 45%;
  background: rgb(8,42,77, 0.8);
  border: 1px solid rgba(255,255,255,.2);
  border-width: 1 0 1px 0;
  /* todo: remove */
  display: none;
}

.header-nav h1, h2 {
  margin: 0;
}

.header-nav h1 {
  font-weight: 500px;
  text-transform: uppercase;
}

.header-nav h2 {
  margin: 0 0 10px 0;
  font-weight: 100;
  opacity: 0.7;
  font-size: 2.5em;
}

.header-nav a {
  color: #ffffff;

}

.header-nav a:hover {
  text-decoration: none;
}


.main-social {
  padding: 0 20px;
  margin: 0 20px;
}

.main-social h5 {
  margin: 0;
}

.main-social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2.5em
}

.main-social ul li {
  padding: 0 15%;
}

.main-social ul li a {
  color: rgba(247, 241, 227,0.8);
}

@media (min-width:1025px) {
  #main-nav {
    width: 20%;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  #main-content {
    margin: 0 0 0 20%;
  }

  .main-nav-mobile { 
    display: none!important;
  }
}